doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .container-fluid.p-0.m-0
      #maps
      // block content
    script(src='/assets/main.js')
